*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.navPr {
    width: 100% ;
    height: 50px;
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
  background:linear-gradient(to right, #ff6a00, #ee0979);
  }

.logo {
  margin-right: 450px; 
}

.logo img {
  width: 100px;
  height: 100%;
  object-fit: cover; 
}


  .menu {
    width: 12%;
    height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .menu .menup {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    transition: background-color 0.6s ease;
    justify-content: center;

  }

  .menu .menup:hover , .submenup:hover{
    transition: background-color 0.6s ease;
  }

  .submenu {
    display: none;
    position: absolute;
    height: auto;
    margin-top: 45px;
    list-style: none;
    width: 10%;
    z-index: 9999;
  }
.submenup{
    margin-bottom: 1%;
    width: 100%;
    background:linear-gradient(to right, #ff6a00, #ee0979);
    height: 100%;
    transition: background-color 0.6s ease;
    justify-content: center;
    text-decoration: none;
}

.menu a{
    text-decoration: none;
    color:black;

}
.menu:hover .submenu {
  display: block;
}


.portada-zoo{
  height:500px !important;
}
.contenedor-informacion{
  
  width:80%;
  margin:auto;
  text-align:justify;
  display:flex;
  margin-top:30px;
  margin-bottom:30px;
}
.contenedor-informacion > div{
  width:40%;
  margin:auto;
  
}
.contenedor-informacion > div img{
  width:100%;
  height:100%;
}
.contenedor-informacion table{
  width: 95%;
  margin: auto;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 30px;
  font-size: 20px;
}
.contenedor-informacion table td{
  width: 50%;
  height: 60px;
}
.portada-horarios{
  width: 100%;
  height: 500px;
  background: url('../img/zoo-portada3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.portada2{
  width: 100%;
  height: 500px;
   background: url('../img/Img7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.portada3{
  width: 100%;
  height: 500px;
   background: url('../img/Img8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*slider*/
.swiper {
  width: 100%;
  padding-top: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  text-decoration:none;
  color:black;
}

.swiper-slide img{
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

.swiper-slide:hover img {
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Added opacity transition */
}

.swiper-slide:hover {

}
.swiper-slide img {
  display: block;
  width: 100%;
}

.center{
  text-align:center!important;
}

/*footer*/
.page-footer {
  background:linear-gradient(to right, #ff6a00, #ee0979);
  color: #fff!important;
  padding: 20px 0 0 0!important;
}

.page-footer .container {
  width: 90%!important;
  margin: 0 auto!important;
}

.page-footer ul {
  list-style: none!important;
  padding: 0!important;
}

.page-footer ul li {
  margin-bottom: 10px!important;
}

.page-footer a {
  text-decoration: none!important;
  color: #dedede;
}

.page-footer a:hover {
  color: #fff!important;
}

.footer-copyright {
  background:linear-gradient(to right, #ff6a00, #ee0979)!important;
  padding: 1px 0!important;
  text-align:center;
}
#check{
  display: none;
}
.navNuevo{
  display:none;
}
@media (max-width:800px){
  .navPr{
    display:none!important;
  }
  .navNuevo{
    display:block;
    background:linear-gradient(to right, #ff6a00, #ee0979)!important;
    height: 80px;
    width: 100%;
  }
  
  .enlace{
    position: absolute;

  }
  .navNuevo ul{
    float: right;
    margin-right:20px;
  }

  .checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    text-align: center;
  }

  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to right, #ff6a00, #ee0979)!important;
    top:80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index:9999;
  }
  .navNuevo a{
    text-decoration:none;
    color:white;
  }

  .navNuevo ul li{
    display: block;
    margin: 10px 0;
  }

  .navNuevo ul li a{
    font-size: 20px;
  }
  li a:hover, li a.activate{
    background: none;
    color: black;
  }
  #check:checked ~ ul{
    left:0;
  }
}